*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(85,220,220,1) 0%, rgba(133,5,175,1) 0%, rgba(65,8,208,1) 50%, rgba(6,54,164,1) 100%, rgba(50,146,195,1) 100%);

}
.card{
    width: 700px;
    margin: 200px 400px;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid black;
}
h1{
    width: 670px;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font: bold 2em Arial;
    color: white;
    background-color: rgb(7, 7, 108);
}
h2{
    text-align: left;
    color:  rgb(7, 7, 108);
    font: bold 1.1em Arial;
    margin-left: 20px;

}
p{
    text-align: left;
    margin: 2px 20px;
    font: 0.9em Arial;
}
mark{
    background: rgb(221, 99, 99);
}
button{
    background: rgb(7, 7, 108);
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 20px;
}