*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: purple;
    padding: 100px 250px;
}
.card{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    margin: 20px 75px;
    object-fit:cover;
    border: 3px solid purple;
    border-radius: 50%;
    padding: 1px;

}
h2{
    font: bold 1.2em  Arial ;
    color: purple;
}
i{
    color: purple;
}
p{
    font:  1.0em Arial ;
    text-align: justify;
    margin: 20px 10px;
}
.read{
    padding: 10px 15px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    border: solid purple;
    color: purple;
    font: 1em Arial;
}
.subs{
    padding: 13px 25px;
    margin: 15px;
    background: purple;
    border-radius: 5px;
    border: none;
    color: white;
    font: 1em Arial;
}